<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/team.css" />
    <title>Arko Roy</title>
  </head>
  <body>
    <main>
      <header></header>
      <div class="about-section-arko">
        <div class="inner-container">
          <h1>Arko Roychowdhury</h1>
          <p class="text">
            I am a architect turned UX Designer. In my years as an architect, I
            would tend to put in more time and effort in studying my user. Added
            to that is my love for art & graphic design which pushed my to
            curating digital experiences through design.
          </p>
          <div class="skills">
            <span>UX Design</span>
            <span>Web Development</span>
            <span>Graphics Design</span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
