<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>NGO Team Page</title>
  </head>
  <body>
    <main>
      <header></header>

      <img class="heroimg" src="images/banner.jpeg"/>
        <h1>Our Team</h1>
        <br />

        <div class="cards">
          <!-- Card for Arko START-->
          <a class="card" href="arko">
            <div class="card-hero">
              <img src="images/arko.jpg" width="288" />
            </div>
            <div class="card-header">
              <h3>Arko Roychowdhury</h3>
              <h5>Digital Product Designer</h5>
            </div>
            <div class="card-body">
              <p>
                I am a architect turned UX Designer. In my years as an
                architect, I would tend to put in more time and effort in
                studying my user. Added to that is my love for art & graphic
                design which pushed my to curating digital experiences through
                design.
              </p>
            </div>
            <div class="card-footer">
              <div class="footer-item"></div>
            </div>
          </a>
          <!-- Card for Arko END-->
          <!-- Card for Kanak START-->
          <a class="card" href="kanak">
            <div class="card-hero">
              <img src="images/kanak.jpg" width="288" />
            </div>
            <div class="card-header">
              <h3>Kanak Kumar</h3>
              <h5>Web Designer</h5>
            </div>
            <div class="card-body">
              <p>
                I am an international student of Fanshawe college and currently,
                I am pursuing my study in an interactive media design course. My
                hobbies: I love to do photography, and explore new things.
              </p>
            </div>
            <div class="card-footer">
              <div class="footer-item"></div>
            </div>
          </a>
          <!-- Card for Kanak END-->
          <!-- Card for Madhur START-->
          <a class="card" href="madhur">
            <div class="card-hero">
              <img src="images/madhur.jpg" width="288" />
            </div>
            <div class="card-header">
              <h3>Madhur Kakkar</h3>
              <h5>Front-end Developer</h5>
            </div>
            <div class="card-body">
              <p>
                I am an international student of Fanshawe college and currently,
                I am pursuing my study in an interactive media design course. My
                hobbies: I love to do photography, and explore new things.
              </p>
            </div>
            <div class="card-footer">
              <div class="footer-item"></div>
            </div>
            <!-- Card for Madhur END-->
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
