<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/team.css" />
    <title>KANAK KUMAR</title>
  </head>
  <body>
    <main>
      <header></header>
      <div class="about-section-kanak">
        <div class="inner-container">
          <h1>Kanak kumar</h1>
          <p class="text">
         I am a visual and animation designer. My strength lies in my ability to use multidisciplinary skills in interaction design, 3D animation and user interface to create purposeful and aesthetically pleasing designs/experiences to help local companies.
          </p>
          <div class="skills">
            <span>Graphic Designer</span>
            <span>3D Animator</span>
            <span>Web Designer</span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
