<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/team.css" />
    <title>Madhur Kakkar</title>
  </head>
  <body>
    <main>
      <header></header>
      <div class="about-section-madhur">
        <div class="inner-container">
          <h1>Madhur Kakkar</h1>
          <p class="text">
         I’m an international student of Fanshawe college and currently, I am pursuing my study in an interactive media design course. My hobbies: I love to do photography, and explore new things.
          </p>
          <div class="skills">
            <span>UI UX Enthusiast</span>
            <span>Data Analyst</span>
            <span>Graphics Designer</span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
